.hidden { 
  display: none;
}

.input-list {
  column-count: 4;
  list-style: none;
}

.input-image {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.refresh {
    animation: spin 1s infinite ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media print {
    @page {
        size: letter;
    }

    html, body {
        width: 215.9mm;
        height: 279.4mm;
    }

    body * {
        visibility: hidden;
    }
    .output-section,
    .output-section * {
        visibility: visible;
    }

    .output-section {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        border-left: 2px solid #C4DFF6;
        min-height: 100%;
    }
    
    .result-array {
        display: flex !important;
        font-size: 20px;
        border: 2px solid crimson;
        text-align: center;
        box-shadow: 0 0 1px 1px mediumslateblue;
        margin: 10px;
        flex-wrap: wrap;
        position: relative;
        flex-basis: 45%;
        margin-bottom: 3.7rem !important;
        page-break-inside: avoid;
        page-break-after: always;
        page-break-before: always;
        position: relative;
    }

    .result-array-item {
        flex: 1 0 50%;
        padding: 5px;
        page-break-inside: avoid;
        page-break-after: always;
        page-break-before: avoid;
    }

    .fifth-item {
        flex: 0 0 50%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: -10px;
    }

      .third-item {
        flex: 0 0 51%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

